* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.landing {
  height: 100vh;
  background-image: url(https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg);
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 40px;
}

h1 {
  text-transform: uppercase;
  color: beige;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  background: url(https://picsum.photos/1200?random=2);
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-items: center;
  padding: 10%;
}

.line {
  width: 10px;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgba(28, 236, 224, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item-1 {
  grid-column: 3;
  grid-row: 1;
}

.item-2 {
  grid-column: 1;
  grid-row: 2;
}

.item-3 {
  grid-column: 3;
  grid-row: 3;
}

.item-4 {
  grid-column: 1;
  grid-row: 4;
}

.timeline-item {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 10%;
  margin: 10%;
  background: rgba(28, 236, 224, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
